dialog[open] {
    display: flex;
    position: relative;
    flex-direction: column;

    padding: 0px;
    padding-left: 20px;

    border: 1px solid var(--border-color);
    background-color: var(--dialog-bg-color);
    backdrop-filter: blur(10px);

    line-height: 1;
    font-weight: 400;
    text-align: left;
    transition: transform 0.6s ease;
}

#dialog h3,
#dialog h4,
#dialog p {
    display: flex;
    margin-left: 20px;

    justify-self: left;
    font-weight: 400;
}

dialog[open] form {
    position: absolute;
    display: flex;
    top: 0px;
    right: 0px;
    align-items: right;
    justify-content: right;
    justify-self: right;
    margin: 0;
    padding: 0;

    font-size: 15px;
}

dialog::backdrop {
    background: var(--dialog-backdrop-color);
    backdrop-filter: blur(1px);
}

#close-btn {
    color: var(--border-color);
    /* padding: 3px; */
    font-size: 15px;
    background: none;
    border: none;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

#close-btn:focus {
    outline: none;
}

#close-btn:focus-visible {
    outline: 1px solid var(--border-color);
}

#modal-title {
    margin-top: 20px;
    color: var(--hl-lv1-color);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1.7px;
}

#modal-content {
    color: var(--dialog-text-color);
    margin-top: 10px;
    margin-right: 40px;
    letter-spacing: 1.2px;
    font-weight: 400;
}

#modal-content h4 {
    font-weight: 400;

    font-size: 16px;
    margin: 0px;
    margin-top: 20px;
    letter-spacing: 1.2px;
}

#modal-content ul {
    margin: 0px;
    padding-left: 24px;
}

#modal-content li {
    padding-top: 10px;
    letter-spacing: 1.2px;
}

